@font-face {
    font-family: 'Karla';
    src: url('https://media.means88.com/lib/karla/Karla-Regular.ttf');
}

@font-face {
    font-family: 'Karla';
    font-weight: bold;
    src: url('https://media.means88.com/lib/karla/Karla-Bold.ttf');
}

@font-face {
    font-family: 'Karla';
    font-style: italic;
    src: url('https://media.means88.com/lib/karla/Karla-Italic.ttf');
}

@font-face {
    font-family: 'Karla';
    font-style: italic;
    font-weight: bold;
    src: url('https://media.means88.com/lib/karla/Karla-BoldItalic.ttf');
}

html, body {
    font-family: 'Karla', sans-serif;
    background-color: #F9FFF4;
    height: 100%;
}

ul {
    list-style: none!important;
    padding: 0;
}

.btn {
    border: none;
    border-radius: 100px;
    font-size: 15px;
    outline: none!important;
    box-shadow: none!important;
}

.navigation {
    background-color: #fff;
}

.navbar {
    padding-top: 10px;
}

.navbar a.navbar-brand {
    padding-left: 0;
    padding-right: 0;
    font-weight: 800;
    font-size: 17px;
    color: #000;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    transition: none;
}

.navbar-right a {
    font-size: 36px;
    color: #777!important;
    transition: color 0.15s;
}

.navbar-right a:hover {
    color: #000!important;
}

.top {
    background-image: linear-gradient(-180deg, #fff 0%, #F9FFF4 100%);
}

.home-logo {
    max-width: 128px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    transition: transform 0.15s;
}

.home-logo:hover {
    transform: scale(1.1);
}

.description {
    color: #777;
}

.home-container {
    padding: 50px 0 20px 0;
    text-align: center;
    overflow: hidden;
}

.home-container h1 {
    margin-top: 22px;
    margin-bottom: 11px;
    color: #000;
    font-size: 34px;
    line-height: 49px;
    font-family: 'Karla', sans-serif;
}

.home-container .btn-primary {
    background-color: #7ed738;
    color: #FFFFFF;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    padding: 10px 18px;
    margin-right: 10px;
}

.home-container .btn-primary:hover {
    background: #b5e88d;
}

.home-container .btn-primary:active:hover {
    background: #b5e88d;
}

.home-container .btn-secondary {
    background-color: #fff;
    color: #7ed738;
    border: 2px solid #7ed738;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    padding: 8px 16px;
}

.home-container .btn-secondary:hover {
    background-color: #fff;
    color: #b5e88d;
    border: 2px solid #b5e88d;
}

.home-container .btn-secondary:active:hover {
    background-color: #fff;
    color: #b5e88d;
    border: 2px solid #b5e88d;
}

@media screen and (max-width: 767px) {
    .home-container {
        padding: 20px 10px;
    }
}

.home-btns {
    margin: 35px 0 11px;
}

.skill-list {
    text-align: left;
    color: #777;
}

@media screen and (max-width: 575px) {
   .skill-list {
       padding-left: 60px;
   }
}

@media screen and (min-width: 576px) {
    .skill-list {
        padding-left: 120px;
    }
}

@media screen and (min-width: 768px) {
    .skill-list {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 70px;
    }
}

@media screen and (min-width: 992px) {
    .skill-list {
        padding-left: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .skill-list {
        padding-left: 30px;
    }
}

.center-line {
    text-align: center;
    line-height: 0.1em;
    width: 100%;
    display: inline-block;
    margin: 1em 0;
    border-bottom: 1px solid rgba(0,115,0,0.15);
}

.center-line span {
    background-color: #fbfff7;
    padding: 0 20px;
    font-size: 14px;
    color: #777;
}

@media screen and (min-width: 768px) {
    .center-line {
        width: 40%;
    }

    .wrapper {
        margin-top: 50px;
    }
}

.connect-table {
    display: inline-table;
    font-size: 12px;
    color: #777!important;
}

.connect-table td {
    padding: 0 3px;
}

.connect-table a {
    color: #777!important;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.text-green {
    color: #28a745 !important;
}

.text-red {
    color: #cb2431 !important;
}
